<main class="hero">
  <div class="hero-bg"></div>
  <div class="overlay">
    <img
      src="/images/ari-barber.jpg"
      alt="Ari's Barber Studio logo"
    />
    <h1>
      Bienvenido a <span style="color:black;">Ari's Barber Studio</span>
    </h1>
    <p>
      Tu estilo, nuestra pasión.<br>
      <span style="font-size:1.1rem; color:#93c5fd;">¡Reserva tu cita y vive la experiencia!</span>
    </p>
    <button (click)="redirigir()">
      Reservar tu cita
    
    </button>
    <div class="info-box">
      <h2>Información de contacto</h2>
      <p><strong>Dirección:</strong> Centro de Limón</p>
      <p><strong>Teléfono:</strong> <a href="tel:+50684744358">+506 8574-4358</a></p>
      <p class="mb-2"><strong>Horario:</strong></p>
      <ul>
        <li>Lunes a Viernes: 9:00 am - 7:00 pm</li>
        <li>Sábados: 9:00 am - 5:00 pm</li>
        <li>Domingos: Cerrado</li>
      </ul>
      <p><strong>WhatsApp:</strong> <a href="https://wa.me/50685744358" target="_blank">+506 8574-4358</a></p>
   
    </div>
  </div>
</main>
